<template>
  <NuxtLink class="card-categorie-url" :to="{ path: `catalogo/${categoryId}`, params: { categoryId, categoryName: categoryTitle }}">
    <div class="card-categorie-wrapper">
      <span class="card-categorie-title">{{ categoryTitle }}</span>
    </div>
  </NuxtLink>
</template>

<script>
export default {
  props: {
    categoryTitle: {
      type: String,
      required: true
    },
    categoryId: {
      type: Number,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/vars';
.card-categorie-url {
  text-decoration: none;
}
.card-categorie-wrapper {
  box-shadow: 0px 6px 10px -1px rgba($box-shadow, 0.55);
  border: 1px solid $grey-light;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.card-categorie-title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: block;
  color: $primary;
}

</style>
