<template>
  <div class="page-wrapper">
    <div class="section-wrapper">
      <div class="wrapper">
        <CommonBreadcrumb :breadcrumbs="breadcrumbs" />
        <h2 class="page-title">{{ detail.title }}</h2>
        <CardProductDetail
          :product-id="detail.id"
          :title="detail.title"
          :overview="detail.overview"
          :released-on="detail.released_on"
          :vote="detail.vote"
          :categories="detail.categories"
          :adults="detail.adults"
          :production-countries="detail.production_countries"
          :revenue="detail.revenue"
          :status="detail.status"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { getMovieDetail } from '~/services/movies'

export default {
  async asyncData({route, store, redirect, error}) {
    const detail = await getMovieDetail(route.params.productId)
    return { detail }
  },
  data: () => ({
    breadcrumbs: [
      {
        title: 'Catalogo',
        to: '/catalogo'
      },
      {
        title: 'La viuda negra',
      },
    ]
  }),
  mounted() {
    this.breadcrumbs[1].title = this.detail.title
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/vars';

</style>

