<template>
  <div class="carousel-slide-content">
    <div class="carousel-slide-info">
      <h2 class="carousel-slide-title">{{ title }}</h2>
      <div class="carousel-slide-description">
        {{ description }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    }
  }
}

</script>

<style lang="scss" scoped>
@import '~assets/styles/vars';
.carousel-slide-content {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}
.carousel-slide-info {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px 20px;
  border-radius: 10px;
  margin-bottom:  40px;
}

.carousel-slide-title {
  color: $black;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.4;
}

.carousel-slide-description {
  color: #424242;
  line-height: 22px;
  font-size: 14px;
}

.carousel-slide-link {
  background-color: $primary;
  border-radius: 10px;
  height: 46px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  &:hover {
    background-color: darken($primary, 10%);
  }
}

@media #{$laptop} {
  .carousel-slide-info {
    padding: 50px 50px 40px;;
  }
}

</style>
