<template>
  <div class="carousel">
    <carousel
      :autoplay="true"
      :autoplay-timeout="5000"
      :autoplay-hover-pause="true"
      :navigation-enabled="false"
      :per-page="1"
      class="carousel-wrapper"
    >
      <slide
        v-for="(slide, index) in slides" :key="`slide${index}`"
        class="carousel-slide"
        :class="`carousel-slide-${index+1}`"
      >
        <div class="wrapper">
          <CarouselSlide
            :title=slide.title
            :description=slide.description
          />
        </div>
      </slide>
    </carousel>
  </div>
</template>

<script>

export default {
  data: () => ({
    slides: [
      {
        title: 'CINE CLÁSICO',
        description: 'Descubre uno de los clásicos del cine con el preestreno de la nueva película de Star Wars',
      },
      {
        title: 'OFERTA: Esta semana envío gratuito a partir de 30 euros',
        description: 'Envíos sujetos a todos los territorios del interior de la península. Quedan exentos por tanto las islas Baleares y Canarias',
      }
    ]
  })
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/vars';
.carousel-slide {
  background-size: cover;
  height: 450px;
}

.carousel-slide-1 {
  background-image: url('~assets/img/star1.webp');
}

.carousel-slide-2 {
  background-image: url('~assets/img/star2.webp');
}

.carousel-slide-3 {
  background-image: url('~assets/img/star3.webp');
}

/deep/ .VueCarousel-pagination {
  position: absolute;
  bottom: 50px;
}

/deep/ .VueCarousel-dot--active {
  background-color: $primary !important;
}
</style>
