<template>
  <div class="breadcrumb">
    <ul class="breadcrumb-list">
      <li class="breadcrumb-item">
        <NuxtLink class="breadcrumb-item" to="/">
          <i class="breadcrumb-icon" />
          <span class="breadcrumb-title">Home</span>
        </NuxtLink>
      </li>
      <li
        v-for="(breadcrumb, index) in breadcrumbs"
        :key="'bread' + index"
        class="breadcrumb-item"
      >
        <NuxtLink
          v-if="breadcrumb.to"
          class="breadcrumb-item"
          :to="breadcrumb.to"
        >
          <span class="breadcrumb-separator">/</span>
          <span class="breadcrumb-title">{{ breadcrumb.title }}</span>
        </NuxtLink>
        <div v-if="!breadcrumb.to" class="breadcrumb-item">
          <span class="breadcrumb-separator">/</span>
          <span class="breadcrumb-title">{{ breadcrumb.title }}</span>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    breadcrumbs: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scpoped>
@import '~assets/styles/vars';
.breadcrumb {
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  color: $primary;
  &:before {
    display: none;
  }
}

.breadcrumb-list {
  display: flex;
}

a.breadcrumb-item {
  color: $primary;
}

.breadcrumb-item {
  color: #999;
}

i.breadcrumb-icon {
  font-size: 14px;
  margin-top: 3px;
}

.breadcrumb-separator {
  margin: 0 1px 0 2px;
}
@media #{$tablet} {
  .breadcrumb {
    margin-top: 0;
    margin-left: auto;
    font-size: 14px;
  }
}
</style>
