<template>
  <nav class="navigation" :class="{ 'navigation-active': isActive }">
    <div class="burguer-button">
      <button class="menu" @click="isActive = !isActive">
        <svg width="100" height="100" viewBox="0 0 100 100">
          <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
          <path class="line line2" d="M 20,50 H 80" />
          <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
      </button>
    </div>
    <div class="navigation-links-wrapper">
      <div class="wrapper">
        <ul class="navigation-links">
          <li
            v-for="(item, index) in links"
            :key="`nav${index}`" 
            class="navigation-item"
            @click="isActive = false"
          >
            <NuxtLink
              :to="item.route"
              :exact="item.route === '/'"
              class="navigation-link"
            >
              {{ item.name }}
            </NuxtLink>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      isActive: false,
      links:  [
        {
          name:  'Home',
          route:  '/'
        },
        {
          name:  'Catálogo',
          route:  '/catalogo'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/vars';
.burguer-button {
  zoom: 0.5;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: $white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}


.navigation-links-wrapper {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  background: $gray-header;
  padding: 40px 0;
  transform: translate(-100%);
  opacity: 0;
  transition: opacity 0.2s, transform 0.5s;
}

.navigation-links {
  margin: 0 10px;
}

.navigation-item {
  margin-bottom: 20px;
}

.navigation-link {
  color: $white;
  text-decoration: none;
  min-height: 50px;
  display: flex;
  align-items: center;
  background-color: darken($gray-header, 5%);
  padding: 0 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.nuxt-link-active {
  &:before {
    content: '';
    height: 100%;
    width: 4px;
    background-color: $primary;
    left: 0;
    top: 0;
    position: absolute;
  }
}

.navigation-active {
  .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .navigation-links-wrapper {
    transform: translate(0);
    opacity: 1;
  }
}

@media #{$tablet} {
  .navigation-links-wrapper {
    width: 350px;
    transform: translate(-350px);
  }
}

@media #{$laptop} {
  .burguer-button {
    display: none;
  }
  .navigation-links-wrapper {
    position: static;
    background: transparent;
    left: initial;
    top: initial;
    padding: 0;
    width: auto;
    transform: initial;
    height: auto;
    opacity: 1;
  }
  .navigation-item {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .navigation-links {
    display: flex;
  }
  .navigation-link {
    background-color: transparent;
    border-radius: 0;
  }
  .nuxt-link-active {
    position: relative;
    &:before {
      content: '';
      height: 4px;
      width: 100%;
      top: initial;
      left: 0;
      bottom: 0;
    }
  }
  .navigation-links-wrapper {
    .wrapper {
      padding: 0;
    }
  }
}
</style>
