<template>
  <div class="page-wrapper">
    <div class="section-wrapper">
      <div class="wrapper">
        <CommonBreadcrumb :breadcrumbs="breadcrumbs" />
        <h2 class="page-title">Resumen del pedido</h2>
        <div class="order-section">
          <div v-if="!getOrderSize" class="order-empty">
            <picture class="order-empty-image">
              <source :srcset="require('~/assets/img/empty_cart_mobile.webp')" alt="Pedido sin artículos" media="(max-width: 767px)">
              <source :srcset="require('~/assets/img/empty_cart_desktop.webp')" title="Pedido sin artículos" alt="Pedido sin artículos">
              <img :src="require('~/assets/img/empty_cart_desktop.webp')" title="Pedido sin artículos" alt="Pedido sin artículos">
            </picture>
            <div class="order-empty-text">Pedido sin artículos, carrito vacío</div>
            <NuxtLink class="order-empty-link" :to="'/catalogo'">Ir a Catálogo</NuxtLink>
          </div>
          <div v-else class="order">
            <ul class="order-summary">
              <li
                v-for="(item, index) in getOrder"
                :key="`order${index}`"
                class="order-summary-item"
              >
                <OrderItem
                  :id="item.id"
                  :amount="item.amount"
                  :name="item.title"
                  @removeProduct="removeProduct"
                  @addProduct="addProduct"
                  @decreaseProduct="decreaseProduct"
                />
              </li>
            </ul>
            <button class="button button-primary button-summary">Continuar con el pago</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  data: () => ({
    breadcrumbs: [
      {
        title: 'Pedido',
      }
    ]
  }),
  computed: {
    ...mapGetters({
      getOrderSize: 'order/getOrderSize',
      getOrder: 'order/getOrder'
    })
  },
  methods: {
    ...mapActions({
      addToOrder: 'order/addToOrder',
      decreaseFromOrder: 'order/decreaseFromOrder',
      removeFromOrder: 'order/removeFromOrder'
    }),
    addProduct(title, id) {
      this.addToOrder({ title, id })
    },
    decreaseProduct(title, id) {
      this.decreaseFromOrder({ title, id })
    },
    removeProduct(id) {
      this.removeFromOrder({ id })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/vars';
.order-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-empty-text {
  margin: 50px 0 12px;
  font-weight: bold;
  font-size: 14px;
}

.order-empty-link {
  color: $primary;
  font-weight: bold;
  font-size: 18px;
}

.order-summary {
  max-width: 750px;
  margin: auto;
}

.order-summary-item {
  padding: 20px 10px;
  border-bottom: 1px dashed gray;
}

.button-summary {
  margin: 50px auto 20px;
  display: flex;
}

</style>
