@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Lato-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Lato-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/Lato-Bold.ttf') format('ttf');
}
