<template>
  <div class="page-wrapper">
    <CommonHeader />
    <div class="main-content">
      <Nuxt />
    </div>
    <CommonFooter />
  </div>
</template>


<style>
.main-content {
  padding-top: 60px;
}
</style>
