<template>
  <div class="order-item">
    <span class="order-item-title">{{ name }}</span>
    <div class="order-item-handler">
      <div class="order-item-amount-wrapper">
        <button
          class="button button-secondary button-amount"
          @click="$emit('decreaseProduct', name, id)"
        > - </button>
        <span class="order-item-amount-value">{{ amount }}</span>
        <button
          class="button button-secondary button-amount"
          @click="$emit('addProduct', name, id)"
        > + </button>
      </div>
      <button
        class="button button-primary button-trash"
        @click="$emit('removeProduct', id)"
      >
        <span class="sr-only">Eliminar</span>
        <ion-icon name="trash-outline" title="Eliminar" class="button-trash-icon"></ion-icon>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      required: true
    },
    amount: {
      type: Number,
      required: true
    },
    name: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/vars';
  .order-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .order-item-handler {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .order-item-amount-value {
    font-size: 22px;
    padding: 10px;
  }

  
  .order-item-title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .button-amount,
  .button-trash {
    width: 34px;
    height: 34px;
    padding: 0;
  }
  .button-trash {
    margin-left: 30px;
  }

  .button-amount {
    font-size: 22px;
  }

  .order-item-amount-wrapper {
    margin-right: auto;
  }

  .button-trash-icon {
    font-size: 22px;
  }
  
@media #{$tablet} {
  .order-item {
    flex-direction: row;
  }
}
</style>
