<template>
  <div class="page-wrapper">
    <div class="section-wrapper">
      <div class="wrapper">
        <CommonBreadcrumb :breadcrumbs="breadcrumbs" />
        <h2 class="page-title">Catálogo</h2>
        <SearchForm
          @startSearch="getSearchResults"
        >
          <h3 class="page-subtitle">Buscar película</h3>
        </SearchForm>
        <div v-if="searched.length" class="searched-results">
          <span class="searched-results-title">Resultados de la búsqueda</span>
          <ul class="searched-list">
            <li v-for="(movie, index) in searched" :key="`searched${index}`" class="searched-item">
              <CardProduct
                :product-id="movie.id"
                :title="movie.title"
                :overview="movie.overview"
                :released-on="movie.released_on"
                :vote="movie.vote"
                :categories="movie.category_ids"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section-wrapper section-category">
      <div class="wrapper">
        <h3 class="page-subtitle">Buscar por genero</h3>
        <ul class="genres-list">
          <li v-for="(category, index) in categories" :key="`genre${index}`" class="genres-item">
            <CardCategory
              :category-id="category.id"
              :category-title="category.name"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { getCategories, getMovieByQuery } from '~/services/movies'

export default {
  async asyncData({store, redirect, error}) {
    let categories = []
    if (!store.state.categories.size) {
      categories = await getCategories()
    } else {
      categories = store.state.categories.list
    }
    return { categories }
  },
  data: () => ({
    breadcrumbs: [
      {
        title: 'Catalogo'
      }
    ],
    searched: []
  }),
  computed: {
    ...mapGetters({
      hasCategories: 'categories/hasElements',
      getCategoriesFromStore: 'categories/getCategoriesFromStore'
    })
  },
  beforeMount() {
    this.refreshCategories(this.categories)
  },
  methods: {
    ...mapActions({
      refreshCategories: 'categories/refreshCategories'
    }),
    async getSearchResults(query) {
      this.searched = await getMovieByQuery(query)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/vars';
.genres-list {
  display: flex;
  flex-wrap: wrap;
}

.genres-item {
  flex: 1 1 auto;
  margin-bottom: 20px;
  width: 100%;
}

.section-category {
  background-color: #f9f9f9;
}

.searched-list {
  display: flex;
  flex-wrap: wrap;
}

.searched-item {
  flex: 1 1 auto;
  width: 100%;
}

.searched-results-title {
  display: block;
  margin: 30px 0 10px;
  font-size: 18px;
}

@media #{$tablet} {
  .genres-list {
    margin: 0 -20px;
  }
  .genres-item {
    max-width: 50%;
    padding: 0 20px;
  }
  .searched-list {
    margin: 0 -10px;
  }
  .searched-item {
    max-width: 50%;
    padding: 0 10px;
  } 
}

@media #{$laptop} {
  .genres-item {
    max-width: 25%;
    padding: 0 20px;
  }
  .searched-item {
    max-width: 25%;
  } 
}
</style>
